<h2>Sign Up</h2>

<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input type="text" id="name" name="name" required></td>
        </tr>
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="email" id="email" name="email" required></td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr>
        <tr>
            <td><label for="confirm_password">Confirm Password: </label></td>
            <td><input type="password" id="confirm_password" name="confirm_password" required></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Sign Up"> <br><br>

    <% if @user && @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
            <p class="warning"><%= error %></p>
        <% end %>
    <% end %>
</form>