<h1>Welcome, <%= current_user.name%>!</h1>

<% @entries.each do |entry| %>
    <p><%= "#{entry.created_at} | #{entry.glucose} mg/dl | #{entry.carbs}g carbs | #{entry.insulin}u insulin" %></p>
<% end %>